body {
    margin: 0;
    padding: 0;
}

.chat-container {
    height: 100vh;
    background-color: brown;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}